@import url(styles.css);
@import url(navbar.css);

body {
  background-color: var(--oscuro-1);
  color: var(--claro-1);
  /* overflow-x: hidden; */
}

.layout {
  display: flex;
  min-width: 100vw;
}

/** CONTENIDO PRINCIPAL **/

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1.5em;

  flex: 1;
  padding: 1.2em 1.5em;
}

/** SECCIÓN DE INTRODUCCIÓN **/

.introduction-data {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.introduction-data-badge {
  align-self: flex-start;
  background-color: rgba(139, 60, 2, .3);
  border: 1px solid var(--naranja-1);
  border-radius: 15px;
  color: var(--naranja-1);
  text-shadow: 0 0 10px rgba(255, 167, 52, .4);
  padding: .2em 0;
  padding-left: calc(15px + 1em);
  padding-right: .5em;
  position: relative;
}

.introduction-data-badge::before {
  content: "";
  background: linear-gradient(
    to right top,
    var(--naranja-3) 0%,
    var(--naranja-1) 90%
  );
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: .5em;
  top: 50%;
  transform: translateY(-50%);
  animation: parpadear 2s ease-in-out infinite;
}

@keyframes parpadear {

  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 167, 52, .4);
  }

  50% {
    opacity: .6;
    transform: translateY(-50%) scale(.9);
    box-shadow: 0 0 10px 3px rgba(255, 167, 52, .2);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 167, 52, .4);
  }

}

.introduction-data-name > h1 {
  color: var(--naranja-1);
  font-size: 3em;
  line-height: .9;
  margin-left: -0.15em;
  margin-bottom: .15em;
  text-shadow: 0 0 8px rgba(255, 167, 52, .4);
}

.introduction-data-name > p strong {
  color: var(--naranja-1);
  text-shadow: 0 0 8px rgba(255, 167, 52, .4);
}

.introduction-data-description {
  color: var(--oscuro-4);
}

/** SECCIÓN DE BÚSQUEDA **/

.search-projects {
  background-color: rgba(168, 162, 158, .15);
  border: 1px solid rgba(168, 162, 158, .6);
  border-radius: 25px;
  color: var(--oscuro-4);

  display: flex;
  align-items: center;

  margin: 1.5em 0;
  overflow: hidden;
  padding: 0 1em;
  transition: 
    color .2s ease,
    border .2s ease;
  width: 100%;
}

.search-projects input {
  background-color: transparent;
  color: var(--oscuro-4);
  flex: 1;
  font-family: "Source Sans 3", sans-serif;
  padding: .7em 0;
  transition: color .2s ease;
}
.search-projects input:hover,
.search-projects input:focus {
  outline: none;
  border: none;
}

.search-projects:focus,
.search-projects:hover,
.search-projects:has(input:hover),
.search-projects:has(input:focus) {
  border: 1px solid rgba(168, 162, 158, .9);
  color: var(--claro-1);
}
.search-projects:focus input,
.search-projects:hover input,
.search-projects input:hover,
.search-projects input:focus {
  color: var(--claro-1);
}

/** SECCIONES DEL ABOUT **/

.about-section {
  margin-bottom: 1em;
}

.about-section-title {
  display: flex;
  align-items: start;
  gap: .8em;
}

.about-section-title h2 {
  border-bottom: 1px solid var(--oscuro-4);
  color: var(--oscuro-4);
  font-size: 1.2em;
  /* line-height: 1; */
  padding-bottom: .3em;
}

.about-section-title svg {
  color: var(--oscuro-3);
  width: 20px;
}

.about-section-body {
  border-left: 1px solid var(--oscuro-3);
  color: var(--oscuro-4);
  margin-left: 10px;

  /* (Svg icon title width - margin left) + About section title gap */
  padding-left: calc((20px - 10px) + .8em);
  padding-top: .8em;
}

/** SECCIÓN DE EXPERIENCIA **/

.experience-item {
  display: flex;
  flex-direction: column;
  gap: .4em;
  margin-bottom: .8em;
}

.experience-item-title {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.experience-item-title h3 {
  color: var(--claro-1);
}

.experience-item-title p {
  font-weight: 300;
}

.experience .about-section-body > p {
  display: inline-block;
  margin-top: .5em;
}

.experience .about-section-body > p a {
  border-bottom: 1px solid var(--claro-1);
  color: var(--claro-1);
  transition: 
    color .2s ease,
    border .2s ease;
}
.experience .about-section-body > p a:hover {
  border-bottom: 1px solid var(--oscuro-4);
  color: var(--oscuro-4);
}

/** SECCIÓN DE HABILIDADES **/

.skills-items {
  display: flex;
  flex-direction: column;
}

.skills-item {
  display: flex;
  flex-direction: column;
  gap: .4em;
  margin-bottom: .8em;
}

.skills-item h3 {
  color: var(--claro-1);
  font-style: italic;
}

.skills-group {
  display: flex;
  flex-wrap: wrap;
  gap: .4em;
}

.skill {
  background-color: rgba(25, 21, 19, 1);
  border: 1px solid var(--oscuro-3);
  border-radius: 15px;
  padding: .2em .8em;
}

/** HERO **/

.content-hero {
  background-color: var(--claro-1);
  border-radius: 15px;
  color: var(--oscuro-3);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  width: 100%;
  text-align: center;
}

.content-hero figure {
  text-align: center;
  width: 100%;
}

.content-hero figure img {
  border: 2px solid var(--oscuro-3);
  border-radius: 15px;
  width: 100%;
}

.content-hero section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
}

.content-hero section h2 {
  border-bottom: 1px solid var(--oscuro-1);
  color: var(--oscuro-1);
  font-size: 1.6em;
  font-weight: 800;
  line-height: .85;
  width: 100%;
}

.content-hero section p {
  font-size: .9em;
  margin: .8em 0;
}

.content-hero-description {
  font-weight: 500;
}

.content-hero-socials {
  display: flex;
  gap: 1em;
  width: fit-content;
  margin: 0 auto;
}

.content-hero-socials svg {
  color: var(--naranja-1);
}


/** RESPONSIVE **/

@media all and (min-width: 576px) {
  /** HERO */

  .content-hero {
    flex-direction: row;
    height: 230px;
    text-align: start;
  }

  .content-hero section {
    font-size: 1rem;
  }

  .content-hero figure {
    width: auto;
    height: 100%;
  }
  .content-hero figure img {
    width: auto;
    height: 100%;
  }

  .content-hero-socials {
    width: 100%;
  }

  /** SECCIÓN DE EXPERIENCIA **/

  .experience-item-title {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media all and (min-width: 768px) {
  /** SECCIÓN DE BÚSQUEDA **/
  
  .search-projects {
    width: 400px;
  }
}

@media all and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .layout {
    flex-direction: column;
  }
  
  /** CONTENIDO PRINCIPAL **/

  .content {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em;
  }

  .content-data {
    flex: 1;
  }

  /** HERO */

  .content-hero {
    flex-direction: column;
    width: 350px; 
    height: auto;
    position: sticky;
    top: 2em;
    text-align: center;
  }

  .content-hero section {
    font-size: 1rem;
  }

  .content-hero figure {
    height: auto;
    width: 100%;
  }
  .content-hero figure img {
    height: auto;
    width: 100%;
  }

  .content-hero-socials {
    width: fit-content;
  }
}