@import url(styles.css);
@import url(navbar.css);

body {
  background-color: var(--oscuro-1);
  color: var(--claro-1);
  overflow-x: hidden;
}

.layout {
  min-width: 100vw;
  display: flex;
}

/** CONTENIDO PRINCIPAL **/

.content {
  display: flex;
  flex-direction: column;

  flex: 1;
  padding: 1.5em;
}

.content img {
  /* temp */
  width: 100%;
}

@media all and (min-width: 1200px) {
  .layout {
    flex-direction: column;
  }
  
  /** CONTENIDO PRINCIPAL **/

  .content {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 0;
  }

  .content-data {
    flex: 1;
  }

  .content-hero {
    width: 350px;
  }
}