@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --oscuro-1: #13100e;   /* rgba(25, 21, 19, 1) */
  --oscuro-2: #22201e;   /* rgba(25, 21, 19, 1) */
  --oscuro-3: #443F3B;   /* rgba(68, 63, 59, 1) */
  --oscuro-4: #A8A29E;   /* rgba(168, 162, 158, 1) */
  --claro-1: #FFFFFF;    /* rgba(255, 255, 255, 1) */
  --naranja-1: #ff8614;  /* rgba(25, 21, 19, 1) */
  --naranja-2: #8b3c02;  /* rgba(139, 60, 2, 1) */
  --naranja-3: #ffa734;  /* rgba(255, 167, 52, 1) */
}

/** General **/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/** Layout general **/

body {
  background-color: var(--oscuro-1);
  color: var(--claro-1);
}

.layout {
  display: flex;
  min-width: 100vw;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1.5em;

  flex: 1;
  padding: 1.2em .8em;
}

@media all and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .layout {
    flex-direction: column;
  }
  
  /** CONTENIDO PRINCIPAL **/

  .content {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em;
  }
}

/** Fuentes **/
.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

.fs-italic {
  font-style: italic;
}

.fw-light {
  font-weight: 300;
}

/** Utilidades **/

.badge {
  background-color: rgba(25, 21, 19, 1);
  border: 1px solid var(--oscuro-3);
  border-radius: 15px;
  padding: .2em .8em;
}

.badge strong {
  color: var(--claro-1);
  font-weight: 400;
}

.badge--naranja {
  background-color: rgba(139, 60, 2, .3);
  border: 1px solid var(--naranja-1);
  border-radius: 15px;
  color: var(--naranja-1);
  text-shadow: 0 0 10px rgba(255, 167, 52, .4);
}

.badge--conpunto {
  position: relative;

  /* before width + padding between before and text */
  padding-left: calc(15px + 1em);
  /* pairing left and right padding */
  padding-right: .5em;
}

.badge--conpunto::before {
  content: "";
  background: linear-gradient(
    to right top,
    var(--naranja-3) 0%,
    var(--naranja-1) 90%
  );
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: .5em;
  top: 50%;
  transform: translateY(-50%);
  animation: parpadear 2s ease-in-out infinite;
}

@keyframes parpadear {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 167, 52, .4);
  }
  50% {
    opacity: .6;
    transform: translateY(-50%) scale(.9);
    box-shadow: 0 0 10px 3px rgba(255, 167, 52, .2);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 167, 52, .4);
  }
}