@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --oscuro-1: #191513;
  --oscuro-2: #443F3B;
  --oscuro-3: #A8A29E;
  --claro-1: #FFFFFF;
  --claro-2: #E2E8F0;
  --naranja-1: #F97316;
  --naranja-2: #FFB781;
}

/** General **/
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/** Fuentes **/
.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}