@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --oscuro-1: #13100e;   /* rgba(25, 21, 19, 1) */
  --oscuro-2: #22201e;   /* rgba(25, 21, 19, 1) */
  --oscuro-3: #443F3B;   /* rgba(68, 63, 59, 1) */
  --oscuro-4: #A8A29E;   /* rgba(168, 162, 158, 1) */
  --claro-1: #FFFFFF;    /* rgba(255, 255, 255, 1) */
  --naranja-1: #ff8614;  /* rgba(25, 21, 19, 1) */
  --naranja-2: #8b3c02;  /* rgba(139, 60, 2, 1) */
  --naranja-3: #ffa734;  /* rgba(255, 167, 52, 1) */
}

/** General **/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/** Fuentes **/
.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

.fs-italic {
  font-style: italic;
}

.fw-light {
  font-weight: 300;
}